<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="BibtexFilePath"     value="C:\Users\Renato\OneDrive\Pós\Doutorado\MA - Estatística para Informática\Trabalho final\ref_bckup.txt"/>
      <add key="JsonFilePath"       value="jsonFromBibtex.json"/>
      <add key="StatisticsResult"   value="statsRes.txt"/>
      <add key="BlockSize"          value="0"/>
      <add key="DeletePreviousFile" value="true"/>
      <add key="Phase"              value="2"/>
      <add key="ConnectionString"   value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Renato\Documents\GitHub\InfoStats\InfoStatsCrawler\InfoStats\InfoStats\db_dados.mdf;Integrated Security=True;Connect Timeout=30"/>
    </appSettings>
</configuration>